! this gives the location of quads
1 3 5 7
! Ek ZVect
4000  0
! screen 
WS32B   LTUS
!  goals 
46.221 -1.082 46.144 1.085
! this file has been extracted from PARMELA 
! in C:\parmela\lcls\BC1\cas_1nC_p3m3_toDL1 
! Q25201 Q25801
quad    10.68  -266153  401  QEM1B
matrix
quad    10.68   241397 701  QEM2B
matrix
quad    10.68   -168598  205  QEM3B
matrix
quad    10.68   118978 401  QEM4B
matrix
screen WS31B
matrix
screen BPME31B
matrix
screen BPME32B
matrix
screen WS32B
matrix
screen BPME33B
matrix
screen BPME34B
matrix
screen WS33B
matrix
screen BPME35B
matrix
screen BPME36B
matrix
screen WS34B
matrix
screen BPMUM1B
