! this gives the location of quads
17 19 21 23
! Ek ZVect
13640 0
! screen
RFBU01 UND1 WS32
!  goals
26.651 -0.873 30.836 1.015
!34.868 1.142 23.388 -0.770
! this file has been extracted from PARMELA
! in C:\parmela\lcls\BC1\cas_1nC_p3m3_toDL1
screen WS32
matrix
screen BPME33
matrix
screen OTR33
matrix
screen BPME34
matrix
screen WS33
matrix
screen BPME35
matrix
screen BPME36
matrix
screen WS34
matrix
quad    10.8  -158.229  401  QUM1
matrix
quad    10.8   170.2366 701  QUM2
matrix
quad    10.8   -60.183  205  QUM3
matrix
quad    10.8   -53.1315 401  QUM4
matrix
screen RFB07
matrix
screen RFB08
matrix
screen  RFBU00
matrix
screen  BFW01
matrix
screen  RFBU01
matrix
screen  RFBU02
matrix
screen  RFBU03
matrix
screen  RFBU04
matrix
screen  RFBU05
matrix
screen  RFBU06
matrix
screen  BFW07
matrix
screen  RFBU07
matrix
screen  BFW08
matrix
screen  RFBU08
matrix
screen  BFW09
matrix
screen  RFBU09
matrix
screen  BFW10
matrix
screen  RFBU10
matrix
screen  BFW11
matrix
screen  RFBU11
matrix
screen  BFW12
matrix
screen  RFBU12
matrix
screen  BFW13
matrix
screen  RFBU13
