! this gives the location of quads
2 4 8 10 30 32
! Ek ZVect
135  4.51 
! screen 
WS02:HTRUND   IN20
!  goals 
1.113 0.07 1.112 0.071 10 10 
! this file has been extracted from PARMELA 
! in C:\parmela\lcls\BC1\cas_1nC_p3m3_toDL1 
drift   24.67 3. 1
!--------- QA01 -----------
quad    10.80 -158.229   361 QA01
drift   22.04 3. 1
!--------- QA02 -----------
quad    10.80  170.2366  371 QA02
drift    6.59 3. 1
!Linac 2
!linac length amplitude phase
linac  309.52 22.93874  0  L0b_
drift    4.16    3.  1
!---------  QE01 ------------
quad    10.80  -60.183  425  QE01
drift   29.35    1.27 1
!---------  QE02 ------------
quad    10.80  -53.1315 441  QE02
!---------  LH ------------
drift   12.7330    1.27 1
!---------------  BXH1 bend ---------------
! bend L angle(deg) OutputFlag facE1 facE2 hgap fint Unit MAD
bend    12.476002344290   0  1.0   0  1 1.5 0.4 000 BXH1 
!drift   11.0000    1.27 1
drift   14.1827    1.27 1
!---------------  BXH2 bend ---------------
bend    12.476002344290   0 -1.0  -1  0 1.5 0.4 000 BXH2 
!drift   11.0000    1.27 1
drift    5.9970    1.27 1
! ------- OTRH1 -------- 
screen  OTRH1
drift    9.2908    1.27 1
und     25.3132  8.3806 000 LH_UND 
!drift   25.3132    1.27 1
! ------- HTRUND -------- 
screen  HTRUND
!drift   25.3132    1.27 1
und     25.3131  8.3806 000 LH_UND 
drift    8.4018    1.27 1
! ------- OTRH2 -------- 
screen  OTRH2
drift    8.7830    1.27 1
!---------------  BXH3 bend ---------------
bend    12.476002344290   0 -1.0   0 -1 1.5 0.4 000 BXH3 
!drift   11.0000    1.27 1
drift   14.1827    1.27 1
!---------------  BXH4 bend ---------------
bend    12.476002344290   0  1.0   1  0 1.5 0.4 000 BXH4 
!drift   11.0000    1.27 1
drift   12.2901    1.27 1
!---------------  LH end ---------------
!---------  TCAV ------------
drift   66.8023    1.27 1
drift    3.5740    1.27 1
!---------  QE03 ------------
quad    10.80  372.5505   511 QE03
drift   29.84  1.27 1
!---------  QE04 ------------
quad    10.80 -349.6140 525 QE04
drift   14.37   1.27 1
! ------- WS01 --------
screen  WS01
drift   15.20 1.27 1
! ------- OTR1 --------
screen  OTR1
drift  176.18 1.27 1
! ------- WS02 --------
screen WS02
drift   15.20 1.27 1
! ------- OTR2 --------
screen  OTR2
drift  176.18 1.27 1
! ------- WS03 --------
screen WS03
drift   15.20 1.27 1
! ------- OTR3 --------
screen  OTR3
drift   15.08 1.27 1
! ---- QM01 -------
quad    10.80  677.2664   631 QM01
drift   44.78 1.27 1
! ----- QM02 -------
quad    10.80 -542.1989  651 QM02
