! this gives the location of quads
17 21 27
! Ek ZVect
13640 0
! screen
OTRDMP:MXTC DMP1 WS32
!  goals
31.2952 -2.2099 0.5221 -0.7673 91.8609 47.7195
! this file has been extracted from PARMELA
! in C:\parmela\lcls\BC1\cas_1nC_p3m3_toDL1
screen  WS32
matrix
screen  RFBU00
matrix
screen  RFBU01
matrix
screen  RFBU02
matrix
screen  RFBU03
matrix
screen  RFBU30
matrix
screen  RFBU31
matrix
screen  RFBU32
matrix
quad    10.8   -53.1315 401  QU33
matrix
screen  RFBU33
matrix
quad    10.8   -53.1315 401  QUE1
matrix
screen  BPMUE1
matrix
screen  MXTC
matrix
quad    10.8   -53.1315 401  QUE2
matrix
screen  BPMUE2
matrix
screen  BPMUE3
matrix
screen  BPMQD
matrix
screen OTRDMP
matrix
screen DUMPFACE
