! this gives the location of quads
1 3 5 7
! Ek ZVect
13640  0
! screen 
WS32   LTUH
!  goals 
46.292 -1.089 46.326 1.088
! this file has been extracted from PARMELA 
! in C:\parmela\lcls\BC1\cas_1nC_p3m3_toDL1 
! Q25201 Q25801
quad    10.8  -158.229  401  QEM1
matrix
quad    10.8   170.2366 701  QEM2
matrix
quad    10.8   -60.183  205  QEM3
matrix
quad    10.8   -53.1315 401  QEM4
matrix
screen WS31
matrix
screen BPME31
matrix
screen BPME32
matrix
screen WS32
matrix
screen BPME33
matrix
screen YAGPSI
matrix
screen OTR33
matrix
screen BPME34
matrix
screen WS33
matrix
screen BPME35
matrix
screen BPME36
matrix
screen WS34
matrix
screen BPMUM1
